/* ------------------------------------------------------------------------------- */
/* Colors  */
/* ------------------------------------------------------------------------------- */
:root {
    --zinnwaldite_brown: #331C0E;
    --organ: #67331E;
    --alloy_orange: #B9540C;
    --flavescent: #FFF190;
    --ivory: #FCFEF0;
    --deer: #C38D5F;
}

/* ------------------------------------------------------------------------------- */
/* TOP LEVEL LAYOUT  */
/* ------------------------------------------------------------------------------- */


body {
    background-image: url('/assets/background.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100vw 100vh;
}


.header {
    text-align: center;
    color: var(--ivory);
    font-family: 'Trajan Pro', 'Times New Roman', serif;
    font-weight: bold;
    border-bottom: 5px solid var(--ivory);
    letter-spacing: 2px;
    font-size: 4vh;
    padding: 2vh;
}

.dashboard_section {
    height: 87vh;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.menu_section {
    flex: 25;
    border: 0.5vh solid var(--ivory);
    background-color: var(--zinnwaldite_brown);
    margin: 2vh;
    overflow: auto;
}

.graph_section {
    flex: 75;
    display: flex;
    flex-direction: column;
}

/* 
style applied to all children of graph_section. To make the graph use all available space in graph_section
*/
.graph_section>* {
    height: 100%;
    width: 100%;
}


/* ------------------------------------------------------------------------------- */
/* Mics  */
/* ------------------------------------------------------------------------------- */
.horizontal-line {
    border-top: 0.5vh solid var(--ivory);
}


/* ------------------------------------------------------------------------------- */
/* Menu Section  */
/* ------------------------------------------------------------------------------- */

.menu_header {
    font-size: 2vh;
    padding: 1vh;
    border: None;
}

.field_description {
    font-weight: normal;
    text-align: left;
    letter-spacing: 1px;
    color: --var(--ivory);
    font-size: 1.5vh;
    padding: 0.5vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    border: None;
}

.submit_button {
    background-color: var(--alloy_orange);
    display: inline-block;
    cursor: pointer;
    border-radius: 100vh;

    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* ------------------------------------------------------------------------------- */
/* Color of dropdown menu backround and text  */
/* ------------------------------------------------------------------------------- */
.Select-control {
    background-color: black !important;
    color: var(--ivory);
}

.Select-menu-outer {
    background-color: black;
    color: var(--ivory);
}

.Select-value-label {
    color: var(--ivory) !important;
}

.VirtualizedSelectOption {
    background-color: black;
    color: var(--ivory);
}

.Select input {
    color: var(--ivory);
    font-family: 'Trajan Pro', 'Times New Roman', serif;
    letter-spacing: 2px;
}

/* ------------------------------------------------------------------------------- */
/* CSS for part of input section that has two components: a dcc.Slider() and a dcc.Input() component  */
/* ------------------------------------------------------------------------------- */
.slider_input_section {
    display: flex;
    flex-direction: row;
    padding: 0.5vh;
    padding-left: 0.3vh;
    padding-right: 1.6vh;
}

.slider_section {
    width: 80%;
}

.input_section {
    text-align: center;
    color: rgb(25, 25, 25);
    letter-spacing: 1px;
    border-radius: 1vh;
    width: 20%;
}

/* ------------------------------------------------------------------------------- */
/* CSS DataTable  */
/* ------------------------------------------------------------------------------- */
.table_section {
    font-weight: normal;
    font-size: 1.3vh;
}


/* ------------------------------------------------------------------------------- */
/* CSS for hiding the  number field control buttons (increment/decrement) number in html.Input() component. */
/* url: https://community.plotly.com/t/hiding-number-field-control-buttons/15908 */
/* ------------------------------------------------------------------------------- */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}